@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Bebas Neue", sans-serif;
  width: 100%;
  /* overflow: hidden scroll; */
}
.header {
  background: black;
  height: 80px;

  width: 100%;
  z-index: 0;
}
.nav {
  display: flex;
  justify-content: space-between;
  max-width: 992px;
  margin: 0 auto;
}
.nav-bar {
  display: flex;
  line-height: 80px;
  margin-right: 30px;
}
.nav-item {
  list-style: none;
  margin-left: 20px;
}
.nav-link {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.nav-link:hover {
  color: orange;
  transition: 0.5s;
}

.logo {
  color: white;
  line-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-toggle {
  font-size: 35px;
  color: white;
  line-height: 80px;
  display: none;
  background: none;
  border: none;
}
.nav .logo img {
  margin-left: 20px;
  height: 30px;
}
.nav .logo p {
  margin-left: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: orange;
}
.contenedor {
  display: flex;
  height: 280px;
  align-items: center;
  justify-content: center;
  
}
span {
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
}
span p {
  color: orange;
  font-size: 50px;
  text-shadow: 1px 1px black;
}
main {
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 70px;
}
.contenedor_sw {
  width: calc(100vw / 3 - 50px);
  height: 100%;
  display: flex;
  justify-content:space-around;

  flex-direction: column;
  overflow: hidden;
  border: .3px solid rgba(128, 128, 128, 0.623);
  border-radius: 7px;
  font-size: 10px;
  padding: 0px 5px 0px 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.titulo {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: burlywood;
}
.old_p {
  text-decoration: line-through;
  color: red;
  text-align: right;
  font-size: 15px;
  display: flex;
  justify-content: space-around;
}
.old_p p{
  font-size: 15px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration:underline;
  color: black;
}
.new_p{
  display: flex;
  font-size: 15px;
  text-align: right;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  justify-content: space-around;
}
.new_p p {
  
}
.descripcion {
  max-height: 50px;
  font-size: 8px;
}
.img {
  height: 120px;
  width: 100%;
  object-fit:cover;
}

/* Swipper */

.swiper {
  width: 90vw;
  height: 280px;
border-radius: 10px;
}
.swiper-wrapper {
}
/* 
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: none;
  justify-content: center;
  align-items: center;
} */

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit:cover;
}

.footer {
  width: 100%;
  height: 70px;
  background: black;
  display: flex;
  justify-content: space-around;
 /* position: fixed; */
  z-index: 3000;

}
.cuadro {
  height: 100%;
  display: flex;
  justify-content: space-around;
  max-width: 992px;
  margin: 0 auto;
  width: 100%;
}
.uno,
.dos,
.tres,
.cuatro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: orange;
  font-size: 30px;
}
.footer p {
  color: white;
  font-size: 20px;
}
.swiper-button-next::after, .swiper-button-prev::after{
  display: none;
}

@media (max-width: 660px) {
  .nav {
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
  }
  .nav-bar {
    display: flex;
    flex-direction: column;
    background: rgba(201, 108, 9, 0.908);
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    align-items: center;
    height: calc(100% - 80px);
    left: 100%;
    transition: 0.4s;
    z-index: 1000;
  }
  .nav-item {
    list-style: none;
    margin-left: 20px;
  }
  .nav-link {
    text-decoration: none;
    color: white;
    letter-spacing: 5px;
    font-size: 20px;
  }
  .nav-link:hover {
    color: black;
    transition: 0.5s;
  }
  .logo-toggle {
    margin-right: 30px;
    display: block;

    cursor: pointer;
  }
  .logo-toggle:hover {
    color: orange;
    transition: 0.5s;
  }
  .visible {
    left: 0;
  }
  main p {
    font-size: 35px;
  }
}
